.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(116, 116, 116);
}

.userImage{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

.userImage:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.HeaderImage{
  padding: 20px;
  width: 80%;
  margin: 0;
}

.articles-title{
  border-bottom: 1px solid black;
  font-style: oblique;
  border-top: 1px solid black;
  font-size: 70px;
  margin: 15px;
  padding: 0px;
}

.loggedInAsText{
  margin-left: auto;
  font-style: oblique;
  margin-right: auto;
  width: 30%;
  font-style: oblique;
  border: 1px solid black;
}

.pleaseLogInMessage{
  padding: 10px;
  margin-left: auto;
  font-style: oblique;
  margin-right: auto;
  width: 30%;
  font-style: oblique;
  border: 1px solid black;
}

.userWelcomeMessage{
  margin-left: auto;
  font-style: oblique;
  margin-right: auto;
  width: 30%;
  font-style: oblique;
  border: 1px solid black;
}

.comments-title{
  border-bottom: 1px solid black;
  font-style: oblique;
  border-top: 1px solid black;
  font-size: 70px;
  margin: 15px;
  padding: 0px;
}

.topics-title{
  border-bottom: 1px solid black;
  font-style: oblique;
  border-top: 1px solid black;
  font-size: 70px;
  margin: 15px;
  padding: 0px;
}

.allArticles{
  overflow-y: scroll;
  overflow: visible;
}

.loadingMessage > h1{
 text-decoration-color: yellow
}

.articles{
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
  margin-bottom: 25px;
  overflow-y: scroll;
  max-height: 85vh;
  min-height: 10vh;
}
.articles:hover{
  background: rgb(40, 43, 46);
  box-shadow: 0 0 0 0;
  color: white;
}

.userLoginList{
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
  margin-bottom: 25px;
  max-height: 85vh;
  min-height: 10vh;
}

.userDetails {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
  margin-bottom: 25px;
  overflow-y: scroll;
}

.singleUserArticles{
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
  margin-bottom: 25px;
  overflow-y: scroll;
  max-height: 85vh;
  min-height: 10vh;
}
.singleUserArticles:hover{
  background: rgb(40, 43, 46);
  box-shadow: 0 0 0 0;
  color: white;
}

.readArticleButton{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.readArticleButton:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.signUpButton{
  background: lightgray;
  font-size: 1em;
  margin: auto;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.signUpButton:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.postArticleButton{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.postArticleButton:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.postCommentButton{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.postCommentButton:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

h3{
  margin: 10px;
}

.IndividualTopic{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
  padding-bottom: 25px;
  max-height: 85vh;
  min-height: 10vh;

}

.IndividualTopic:hover{
  background: rgb(40, 43, 46);
  box-shadow: 0 0 0 0;
  color: white;
}

.Singlecomment{
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  margin-bottom: 25px;
  overflow: scroll
}

.Singlecomment:hover{
  background: rgb(40, 43, 46);
  box-shadow: 0 0 0 0;
  color: white;
}

.deleteButton {
  background: rgb(241, 76, 76);
  color: black;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.deleteButton:hover{
  background: red
}

.createButton {
  background: lightgreen;
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.createButton:hover{
  background: green;
  box-shadow: 0 0 0 0;
}

.voteUpButton {
  background: lightgreen;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}
.voteUpButton:hover{
  background: green;
  box-shadow: 0 0 0 0 
}


.voteDownButton {
  background: rgb(241, 76, 76);
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.voteDownButton:hover{
  background: red;
  box-shadow: 0 0 0 0 
}


.logOutButton{
  background: rgb(66, 66, 224);
  color: black;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.logOutButton:hover{
  background: blue;
  box-shadow: 0 0 0 0;
}

.submitButton{
  background: lightgray;
  color: black;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.seeArticlesButton {
  background: lightgray;
  font-size: 1em;
  margin: auto;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.seeArticlesButton:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}


.logInInput{
  background: rgb(66, 66, 224);
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.logInInput:hover{
  background: blue;
  box-shadow: 0 0 0 0;
}

.postArticleInputTitle{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.postArticleInputTitle:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0;
}

.postArticleInputTopic{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.postArticleInputTopic:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0;
}

.postCommentText{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.postCommentText:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0;
}

.postArticleInputArticle{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.postArticleInputArticle:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0;
}

.usernameInput{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.usernameInput:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0;
}

.topicInput{
   background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}
.topicInput:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.signUpName{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}
.signUpName:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.signUpUserName{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}
.signUpUserName:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.signUpAvatar{
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}
.signUpAvatar:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}


.readArticleLink{
  text-decoration: none;
  color: black;
  background: rgb(66, 66, 224);
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.readArticleLink:hover{
  background: blue;
  box-shadow: 0 0 0 0
}

.visitProfileLink{
  text-decoration: none;
  text-align: center;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.visitProfileLink:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.homepageLink{
  text-decoration: none;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: auto;
  padding: 0.15em 0.25em;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.homepageLink:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.articleLink{
  text-decoration: none;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: auto;
  padding: 0.15em 0.25em;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.articleLink:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.topicsLink{
  text-decoration: none;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: auto;
  padding: 0.15em 0.25em;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.topicsLink:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}

.signupLink{
 text-decoration: none;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: auto;
  padding: 0.15em 0.25em;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}
.signupLink:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0;
}

.readTopicLink{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;
}

.readTopicLink:hover{
  background: rgb(116, 116, 116);
  box-shadow: 0 0 0 0 
}
 
.custom-select {
 text-decoration: none;
  width: 20%;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: 20px;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;  
}

.topicSortByMenu{
 text-decoration: none;
  width: 20%;
  color: black;
  background: lightgray;
  font-size: 1em;
  margin: 20px;
  padding: 0.25em 1em;
  border: 2px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0);
  border-radius: 20px;  
}

